/* quicksand-300 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/quicksand-v19-latin-300.eot');
  /* IE9 Compat Modes */
  src: local(''), url('../fonts/quicksand-v19-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/quicksand-v19-latin-300.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/quicksand-v19-latin-300.woff') format('woff'), /* Modern Browsers */ url('../fonts/quicksand-v19-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/quicksand-v19-latin-300.svg#Quicksand') format('svg');
  /* Legacy iOS */
}
/* quicksand-regular - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/quicksand-v19-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''), url('../fonts/quicksand-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/quicksand-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/quicksand-v19-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/quicksand-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/quicksand-v19-latin-regular.svg#Quicksand') format('svg');
  /* Legacy iOS */
}
/* quicksand-700 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/quicksand-v19-latin-700.eot');
  /* IE9 Compat Modes */
  src: local(''), url('../fonts/quicksand-v19-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/quicksand-v19-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/quicksand-v19-latin-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/quicksand-v19-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/quicksand-v19-latin-700.svg#Quicksand') format('svg');
  /* Legacy iOS */
}
/* source-sans-pro-300 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/source-sans-pro-v13-latin-300.eot');
  /* IE9 Compat Modes */
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url('../fonts/source-sans-pro-v13-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/source-sans-pro-v13-latin-300.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/source-sans-pro-v13-latin-300.woff') format('woff'), /* Modern Browsers */ url('../fonts/source-sans-pro-v13-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/source-sans-pro-v13-latin-300.svg#SourceSansPro') format('svg');
  /* Legacy iOS */
}
/* source-sans-pro-300italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/source-sans-pro-v13-latin-300italic.eot');
  /* IE9 Compat Modes */
  src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightItalic'), url('../fonts/source-sans-pro-v13-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/source-sans-pro-v13-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/source-sans-pro-v13-latin-300italic.woff') format('woff'), /* Modern Browsers */ url('../fonts/source-sans-pro-v13-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/source-sans-pro-v13-latin-300italic.svg#SourceSansPro') format('svg');
  /* Legacy iOS */
}
/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/source-sans-pro-v13-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url('../fonts/source-sans-pro-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/source-sans-pro-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/source-sans-pro-v13-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/source-sans-pro-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/source-sans-pro-v13-latin-regular.svg#SourceSansPro') format('svg');
  /* Legacy iOS */
}
/* source-sans-pro-italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/source-sans-pro-v13-latin-italic.eot');
  /* IE9 Compat Modes */
  src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'), url('../fonts/source-sans-pro-v13-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/source-sans-pro-v13-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/source-sans-pro-v13-latin-italic.woff') format('woff'), /* Modern Browsers */ url('../fonts/source-sans-pro-v13-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/source-sans-pro-v13-latin-italic.svg#SourceSansPro') format('svg');
  /* Legacy iOS */
}
/* source-sans-pro-700 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/source-sans-pro-v13-latin-700.eot');
  /* IE9 Compat Modes */
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('../fonts/source-sans-pro-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/source-sans-pro-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/source-sans-pro-v13-latin-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/source-sans-pro-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/source-sans-pro-v13-latin-700.svg#SourceSansPro') format('svg');
  /* Legacy iOS */
}
/* source-sans-pro-700italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/source-sans-pro-v13-latin-700italic.eot');
  /* IE9 Compat Modes */
  src: local('Source Sans Pro Bold Italic'), local('SourceSansPro-BoldItalic'), url('../fonts/source-sans-pro-v13-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/source-sans-pro-v13-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/source-sans-pro-v13-latin-700italic.woff') format('woff'), /* Modern Browsers */ url('../fonts/source-sans-pro-v13-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/source-sans-pro-v13-latin-700italic.svg#SourceSansPro') format('svg');
  /* Legacy iOS */
}
input,
textarea,
select,
button {
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 300;
  -webkit-appearance: none;
  appearance: none;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
button::-moz-focus-inner {
  border: none;
  padding: 0;
}
textarea {
  resize: none;
  height: 150px;
}
label {
  display: block;
  margin-bottom: 5px;
}
label.required:after {
  content: " *";
  color: #FF0000;
}
select,
textarea,
input[type="url"],
input[type="text"],
input[type="email"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="password"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #cf6766;
  padding: 10px;
  width: 100%;
}
select:hover,
textarea:hover,
input[type="url"]:hover,
input[type="text"]:hover,
input[type="email"]:hover,
input[type="search"]:hover,
input[type="number"]:hover,
input[type="tel"]:hover,
input[type="password"]:hover,
select:focus,
textarea:focus,
input[type="url"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
  box-shadow: 1px 1px 2px #cf6766;
  appearance: none;
  -webkit-appearance: none;
}
input[type="checkbox"]:checked + label::before {
  content: '\f00c';
}
input[type="checkbox"] + label {
  padding-left: 34px;
  position: relative;
}
input[type="checkbox"] + label::before {
  border: 1px solid #cf6766;
  content: '';
  font-family: "Font Awesome 5 Pro";
  height: 26px;
  left: 0px;
  font-size: 20px;
  padding-left: 2px;
  box-sizing: border-box;
  top: 0;
  position: absolute;
  width: 26px;
}
textarea {
  border: 1px solid #cf6766;
}
.wpcf7-list-item input {
  appearance: checkbox;
  -webkit-appearance: checkbox;
}
