@media (min-width: 992px) {
  #header .search-form {
    display: block !important;
  }
  #toggle-buttons {
    display: none;
  }
}
@media (max-width: 991px) {
  #header {
    height: auto;
  }
  #header .wrapper {
    height: auto;
  }
  #header .custom-logo-link {
    position: static;
    top: auto;
    left: auto;
    width: 105px;
    float: left;
  }
  #header .search-form {
    position: relative;
    top: auto;
    right: auto;
    margin-bottom: 15px;
    display: none;
  }
  #header-inner {
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (max-width: 640px) {
  #footer-bottom {
    text-align: center;
  }
  #fnavi {
    float: none;
    padding-top: 20px;
  }
}
@media (max-width: 480px) {
  #header-top,
  #header-inner,
  #main,
  #footer,
  #footer-bottom {
    padding-left: 15px;
    padding-right: 15px;
  }
  table.table-vertical td.column-1 {
    white-space: normal;
  }
  table.table-stretched .column-2,
  table.table-stretched .column-3 {
    white-space: normal;
  }
}
