/* ########## Main Navigation ########## */
@media (min-width: 992px) {
  #hnavi {
    background-color: #fff;
    bottom: 0;
    display: block !important;
    left: 0;
    right: 0;
    position: relative;
    z-index: 100;
  }
  #hnavi .menu-item:first-of-type > a {
    padding-left: 0;
  }
  .fixed #hnavi-menu .icon-home.current-menu-item a:before {
    color: #031424;
  }
  #hnavi-menu .fa-plus,
  #hnavi-menu .fa-minus {
    display: none;
  }
  #hnavi-menu > li {
    font-size: 20px;
    float: left;
    position: relative;
  }
  #hnavi-menu > li:before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    bottom: 8px;
    width: 1px;
    background-color: #EEEEEE;
  }
  #hnavi-menu > li:first-child:before {
    display: none;
  }
  #hnavi-menu > li > a {
    box-sizing: border-box;
    display: block;
    padding: 12px 20px;
    font-family: "Quicksand", sans-serif;
    color: #031424;
    letter-spacing: 10px;
    text-decoration: none;
  }
  #hnavi-menu > li > a:hover {
    color: #cf6766;
  }
  #hnavi-menu > li.menu-item-has-children > a:after {
    content: "\f107";
    font-family: "FontAwesome";
    margin-left: 8px;
    font-size: 14px;
  }
  #hnavi-menu > li.special:before {
    display: none;
  }
  #hnavi-menu > li.special > a {
    background-color: #EEEEEE;
  }
  #hnavi-menu > li.last {
    float: right;
  }
  #hnavi-menu > li.current-menu-item {
    z-index: 1;
  }
  #hnavi-menu > li.current-menu-item > a {
    background-color: #fff;
    color: #cf6766;
  }
  #hnavi-menu > li.current-menu-item.icon-mail > a:before {
    color: #FFFFFF;
  }
  #hnavi-menu > li > ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  }
  #hnavi-menu > li > ul > li {
    border-top: 1px solid #EEEEEE;
    white-space: nowrap;
  }
  #hnavi-menu > li > ul > li:first-child {
    border-top: none;
  }
  #hnavi-menu > li > ul > li > a {
    display: block;
    padding: 12px 20px;
    font-size: 14px;
    color: #031424;
    text-decoration: none;
  }
  #hnavi-menu > li > ul > li > a:hover {
    background-color: #031424;
    color: #cf6766;
  }
  #hnavi-menu > li > ul > li.current-menu-item > a {
    background-color: #031424;
    color: #cf6766;
  }
  #hnavi-menu > li:hover > ul {
    display: block;
  }
  #header-inner.fixed #hnavi-menu > li.current-menu-item > a {
    background-color: transparent;
    color: #fff;
  }
  #header-inner.fixed #hnavi-menu > li.special > a {
    background-color: transparent;
  }
  #header-inner.fixed #hnavi-menu > li.last {
    margin-left: 0;
  }
}
/* ########## Main Navigation Mobile ########## */
@media (max-width: 991px) {
  #header .custom-logo {
    width: 100%;
  }
  #header #toggle-buttons {
    padding-right: 15px;
  }
  #hnavi {
    background-color: #fff;
    box-sizing: border-box;
    display: none;
    position: absolute;
    padding: 20px;
    right: 0;
    top: 100%;
  }
  #hnavi-menu .fa-plus,
  #hnavi-menu .fa-minus {
    display: none;
  }
  #hnavi-menu > li {
    position: relative;
  }
  #hnavi-menu > li > a {
    display: block;
    padding: 12px 0;
    color: #031424;
    font-size: 26px;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: right;
  }
  #hnavi-menu > li.current-menu-parent > a,
  #hnavi-menu > li.current-menu-item > a {
    color: #031424;
  }
}
