/* quicksand-300 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: url('../fonts/quicksand-v19-latin-300.eot');
  /* IE9 Compat Modes */
  src: local(''), url('../fonts/quicksand-v19-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/quicksand-v19-latin-300.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/quicksand-v19-latin-300.woff') format('woff'), /* Modern Browsers */ url('../fonts/quicksand-v19-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/quicksand-v19-latin-300.svg#Quicksand') format('svg');
  /* Legacy iOS */
}
/* quicksand-regular - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('../fonts/quicksand-v19-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''), url('../fonts/quicksand-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/quicksand-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/quicksand-v19-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/quicksand-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/quicksand-v19-latin-regular.svg#Quicksand') format('svg');
  /* Legacy iOS */
}
/* quicksand-700 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url('../fonts/quicksand-v19-latin-700.eot');
  /* IE9 Compat Modes */
  src: local(''), url('../fonts/quicksand-v19-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/quicksand-v19-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/quicksand-v19-latin-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/quicksand-v19-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/quicksand-v19-latin-700.svg#Quicksand') format('svg');
  /* Legacy iOS */
}
/* source-sans-pro-300 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: url('../fonts/source-sans-pro-v13-latin-300.eot');
  /* IE9 Compat Modes */
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url('../fonts/source-sans-pro-v13-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/source-sans-pro-v13-latin-300.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/source-sans-pro-v13-latin-300.woff') format('woff'), /* Modern Browsers */ url('../fonts/source-sans-pro-v13-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/source-sans-pro-v13-latin-300.svg#SourceSansPro') format('svg');
  /* Legacy iOS */
}
/* source-sans-pro-300italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  font-display: fallback;
  src: url('../fonts/source-sans-pro-v13-latin-300italic.eot');
  /* IE9 Compat Modes */
  src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightItalic'), url('../fonts/source-sans-pro-v13-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/source-sans-pro-v13-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/source-sans-pro-v13-latin-300italic.woff') format('woff'), /* Modern Browsers */ url('../fonts/source-sans-pro-v13-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/source-sans-pro-v13-latin-300italic.svg#SourceSansPro') format('svg');
  /* Legacy iOS */
}
/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('../fonts/source-sans-pro-v13-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url('../fonts/source-sans-pro-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/source-sans-pro-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/source-sans-pro-v13-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/source-sans-pro-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/source-sans-pro-v13-latin-regular.svg#SourceSansPro') format('svg');
  /* Legacy iOS */
}
/* source-sans-pro-italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: url('../fonts/source-sans-pro-v13-latin-italic.eot');
  /* IE9 Compat Modes */
  src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'), url('../fonts/source-sans-pro-v13-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/source-sans-pro-v13-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/source-sans-pro-v13-latin-italic.woff') format('woff'), /* Modern Browsers */ url('../fonts/source-sans-pro-v13-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/source-sans-pro-v13-latin-italic.svg#SourceSansPro') format('svg');
  /* Legacy iOS */
}
/* source-sans-pro-700 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url('../fonts/source-sans-pro-v13-latin-700.eot');
  /* IE9 Compat Modes */
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('../fonts/source-sans-pro-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/source-sans-pro-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/source-sans-pro-v13-latin-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/source-sans-pro-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/source-sans-pro-v13-latin-700.svg#SourceSansPro') format('svg');
  /* Legacy iOS */
}
/* source-sans-pro-700italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  font-display: fallback;
  src: url('../fonts/source-sans-pro-v13-latin-700italic.eot');
  /* IE9 Compat Modes */
  src: local('Source Sans Pro Bold Italic'), local('SourceSansPro-BoldItalic'), url('../fonts/source-sans-pro-v13-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/source-sans-pro-v13-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/source-sans-pro-v13-latin-700italic.woff') format('woff'), /* Modern Browsers */ url('../fonts/source-sans-pro-v13-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/source-sans-pro-v13-latin-700italic.svg#SourceSansPro') format('svg');
  /* Legacy iOS */
}
.big-teaser__item {
  -ms-flex-preferred-size: 50%;
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  max-width: 50%;
  width: 50%;
  box-sizing: border-box;
  padding: 0 25px;
}
.big-teaser__image {
  -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-420deg) saturate(400%) contrast(2);
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-42deg) saturate(600%) contrast(0.5);
  height: auto;
  transition: filter 0.3s ease-in-out;
  width: 100%;
}
.big-teaser__image:hover {
  -webkit-filter: none;
  filter: none;
}
.big-teaser__link {
  display: block;
  position: relative;
}
.big-teaser__title {
  background-color: rgba(255, 255, 255, 0.8);
  bottom: -5px;
  box-sizing: border-box;
  color: #031424;
  font-size: 26px;
  left: 0;
  padding: 15px 20px;
  position: absolute;
  width: 100%;
}
.big-teaser__wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -25px 80px;
}
@media screen and (max-width: 780px) {
  .big-teaser__item {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
  .big-teaser__title {
    font-size: 20px;
  }
  .big-teaser__wrapper {
    margin-bottom: 0;
  }
}
/* ########## Footer ########## */
.footer {
  background-color: #031424;
  color: #fff;
  font-size: 16px;
  padding: 40px 30px;
  position: relative;
}
.footer a {
  color: #fff;
}
.footer .wpb_content_element h6 {
  font-size: 26px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.footer .footer-small {
  font-size: 12px;
}
.footer .footer-table tr > td {
  padding-right: 10px;
}
.footer--wrapper {
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer--wrapper.fixed {
  position: fixed;
}
/* ########## Footer Bottom ########## */
.footer-bottom {
  background-color: #cf6766;
  color: #031424;
  font-size: 14px;
  padding: 15px 30px;
  position: relative;
  text-align: center;
}
.footer-bottom .wrapper {
  overflow: hidden;
}
.footer-bottom a {
  color: #031424;
}
.footer-menu--wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.footer-menu--item {
  -ms-flex-preferred-size: 50%;
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  max-width: 50%;
  width: 50%;
}
.footer-menu--item h6 {
  border-bottom: 1px solid #cf6766;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.footer-menu--container div {
  padding: 0 20px 40px;
}
.menu-footermenue-container ul {
  list-style: none;
}
@media (max-width: 640px) {
  .footer-menu--wrapper {
    flex-direction: column;
  }
  .footer-menu--item {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
  }
}
.error-page--error-text {
  color: #cf6766;
  font-size: 20px;
}
.icon-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  color: #cf6766;
  font-size: 26px;
  margin: 0 auto;
  max-width: 400px;
  padding: 3rem 0;
}
/* ########## Header Top ########## */
#header-top {
  background-color: #031424;
  color: #cf6766;
  font-size: 16px;
  padding: 10px 30px;
  position: relative;
  z-index: 10;
}
#header-top .fa {
  margin-right: 8px;
}
/* ########## Header ########## */
.header-top--wrapper {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 50px;
}
.header-top--info-container {
  margin-right: 20px;
}
.header-top--logo {
  height: 40px;
  margin-right: 10px;
  width: auto;
}
.header-top--logo-link {
  font-family: #cf6766;
  font-size: 26px;
  letter-spacing: 10px;
}
.header-top--logo-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.header--bg-image-wrapper {
  max-height: 700px;
  width: 100%;
}
.header--bg-image {
  height: 100%;
  max-height: 700px;
  object-fit: cover;
  width: 100%;
}
.header-bottom--logo-link {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  letter-spacing: 10px;
}
.header-bottom--mobile-link {
  display: none;
  letter-spacing: 10px;
}
#header .wrapper {
  height: 100%;
}
#header .custom-logo-link {
  position: absolute;
  top: 0;
  left: 0;
}
#header .fixed .custom-logo {
  height: 100%;
  width: 50%;
}
#header .custom-logo {
  height: 100%;
  width: 25%;
}
#header .search-form {
  position: absolute;
  top: 30px;
  right: 0;
}
.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
#header-inner {
  background-color: #fff;
  color: #031424;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  padding: 0 30px;
  position: relative;
  z-index: 50;
}
#header-inner.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 1000;
}
#header-inner.fixed .wrapper {
  height: auto;
}
#header-inner.fixed .custom-logo-link {
  position: static;
  top: auto;
  left: auto;
  width: 105px;
  float: left;
  padding-top: 4px;
}
#header-inner.fixed .search-form {
  display: none !important;
}
#header-inner.fixed #hnavi {
  position: relative;
  left: auto;
  right: auto;
  bottom: auto;
  float: right;
}
@media screen and (max-width: 991px) {
  #header-inner > .wrapper {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
    height: 60px;
  }
  .fixed-header #header-inner > .wrapper {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .header--bg-image-wrapper {
    max-height: 700px;
    position: relative;
    top: auto;
    z-index: 20;
  }
  .header-bottom--mobile-icon {
    width: 28px;
  }
  .header-bottom--mobile-menu {
    font-family: "Quicksand", sans-serif;
    letter-spacing: 10px;
  }
}
@media screen and (max-width: 640px) {
  .header-top--logo-container {
    text-align: left;
  }
  .header-top--logo {
    display: none;
  }
  .header-top--logo-link {
    font-size: 16px;
  }
  .header-bottom--mobile-menu {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .header--bg-image-wrapper {
    height: 140px;
  }
  .header-bottom--logo-link {
    font-size: 16px;
  }
  .header-top--info-container {
    display: none;
  }
}
.home main,
#page main {
  min-height: 700px;
}
@media screen and (max-width: 991px) {
  .home main,
  #page main {
    margin-top: 0;
    min-height: 350px;
  }
}
.pagination {
  text-align: center;
}
.pagination .screen-reader-text {
  display: none;
}
.pagination .nav-links {
  font-size: 20px;
}
.pagination .nav-links .page-numbers.current {
  font-size: 26px;
}
.teaser--content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 33.33%;
  -webkit-flex-basis: 33.33%;
  flex-basis: 33.33%;
  max-width: 33.33%;
  width: 33.33%;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 0 30px;
}
.teaser--excerpt {
  margin-top: 10px;
}
.teaser--image {
  margin-bottom: 20px;
  width: 100%;
}
.teaser__link--bottom {
  text-align: center;
  margin-bottom: 80px;
}
.teaser--wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-right: -30px;
}
@media screen and (max-width: 991px) {
  .teaser--content {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
    margin-bottom: 50px;
  }
  .teaser--excerpt {
    border-bottom: 1px solid #cf6766;
  }
  .teaser--wrapper {
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
html {
  overflow-y: scroll;
}
body {
  background-color: #031424;
}
#page {
  margin: 0 auto;
}
.wrapper {
  margin: 0 auto;
  max-width: 1180px;
  position: relative;
}
.wrapper-small {
  margin: 0 auto;
  max-width: 700px;
  position: relative;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
  height: 0;
}
.h-margin-big {
  margin-bottom: 80px;
}
.margin-right-s {
  margin-right: 5px;
}
#toggle-buttons {
  float: right;
}
#toggle-buttons li {
  display: inline;
  margin-left: 15px;
}
#toggle-buttons button {
  font-size: 32px;
  color: #333333;
  line-height: 100%;
}
#toggle-buttons button.active {
  color: #cf6766;
}
/* ########## Main ########## */
main {
  display: block;
  background: #031424;
  border-bottom: 1px solid #cf6766;
  box-sizing: border-box;
  color: #fff;
  padding: 50px 30px 30px;
  position: relative;
  width: 100%;
  z-index: 10;
}
