// out: ../css/navigation.css, sourcemap: false, compress: false
@import url("_config.less");

/* ########## Main Navigation ########## */

@media (min-width: 992px) {
	#hnavi {
		background-color: @background-color-light;
		bottom: 0;
		display: block !important;
		left: 0;
		right: 0;
		position: relative;
		z-index: 100;

		.menu-item:first-of-type > a {
			padding-left: 0;
		}
	}

	.fixed {
		#hnavi-menu {
			.icon-home {
				&.current-menu-item a:before {
					color: @header-top-bg-color;
				}
			}
		}
	}

	#hnavi-menu {

		.fa-plus,
		.fa-minus {
			display: none;
		}

		> li {
			font-size: @font-size-l;
			float: left;
			position: relative;

			&:before {
				content: "";
				position: absolute;
				top: 8px;
				left: 0;
				bottom: 8px;
				width: 1px;
				background-color: #EEEEEE;
			}

			&:first-child {
				&:before {
					display: none;
				}
			}

			> a {
				box-sizing: border-box;
				display: block;
				padding: 12px 20px;
				font-family: @font-family-special;
				color: @hnavi-fg-color;
				letter-spacing: 10px;
				text-decoration: none;

				&:hover {
					color: @color-font-special;
				}
			}

			&.menu-item-has-children {

				> a {
					&:after {
						content: "\f107";
						font-family: "FontAwesome";
						margin-left: 8px;
						font-size: 14px;
					}
				}
			}

			&.special {

				&:before {
					display: none;
				}

				> a {
					background-color: #EEEEEE;
				}
			}

			&.last {
				float: right;
			}

			&.current-menu-item {
				z-index: 1;

				> a {
					background-color: @background-color-light;
					color: @hnavi-active-fg-color;
				}

				&.icon-mail {
					> a {
						&:before {
							color: #FFFFFF;
						}
					}
				}
			}

			> ul {
				display: none;
				position: absolute;
				top: 100%;
				left: 0;
				background-color: #FFFFFF;
				box-shadow: 2px 2px 2px fade(#000000, 10%);

				> li {
					border-top: 1px solid #EEEEEE;
					white-space: nowrap;

					&:first-child {
						border-top: none;
					}

					> a {
						display: block;
						padding: 12px 20px;
						font-size: 14px;
						color: @hnavi-fg-color;
						text-decoration: none;

						&:hover {
							background-color: @hnavi-active-bg-color;
							color: @hnavi-active-fg-color;
						}
					}

					&.current-menu-item {

						> a {
							background-color: @hnavi-active-bg-color;
							color: @hnavi-active-fg-color;
						}
					}
				}
			}

			&:hover {
				> ul {
					display: block;
				}
			}
		}
	}

	#header-inner {
		&.fixed {
			#hnavi-menu {
				> li {
					&.current-menu-item {
						> a {
							background-color: transparent;
							color: @body-fg-color;
						}
					}

					&.special {
						> a {
							background-color: transparent;
						}
					}

					&.last {
						margin-left: 0;
					}
				}
			}
		}
	}
}

/* ########## Main Navigation Mobile ########## */

@media (max-width: 991px) {
	#header {
		.custom-logo {
			width: 100%;
		}

		#toggle-buttons {
			padding-right: 15px;
		}
	}

	#hnavi {
		background-color: @background-color-light;
		box-sizing: border-box;
		display: block;
		position: absolute;
		padding: 20px 30px;
		right: -300px;
		top: 100%;
		transition: right 300ms ease-in;

		&.active {
			right: -30px;
		}
	}

	#hnavi-menu {

		.fa-plus,
		.fa-minus {
			display: none;
		}

		> li {
			position: relative;

			> a {
				display: block;
				padding: 12px 0;
				color: @hnavi-fg-color;
				font-size: @font-size-xl;
				letter-spacing: 2px;
				text-decoration: none;
				text-align: right;
			}

			&.current-menu-parent,
			&.current-menu-item {

				> a {
					color: @hnavi-active-bg-color;
				}
			}
		}
	}
}
